body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit' , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.qr-scan{
    width: 249px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(108, 108, 108, 0.19);
}

.qr-image{
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.qr-scan p{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}
.heading{
    font-size: 1.1rem;
    color: hsl(218, 44%, 22%);
}

.text{
    font-size: 0.9rem;
    line-height: 1.5;
    color: hsl(216, 15%, 48%);
}




